<h2 mat-dialog-title>Add</h2>
<app-alert *ngIf="error != null" [value]="error"></app-alert>
<mat-dialog-content>
  <form [formGroup]="form">
    <div fxLayout="row">
      <mat-form-field fxFlex="1 1 100%">
        <label>
          <textarea autocomplete="off" formControlName="text" matInput placeholder="Choice"></textarea>
        </label>
        <mat-error *ngIf="form.controls.text.hasError('required')">required</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="8px">
      <mat-form-field fxFlex="1 1 100%">
        <mat-select formControlName="correct" placeholder="Correct">
          <mat-option [value]="true">True</mat-option>
          <mat-option [value]="false">False</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field fxFlex="1 1 100%">
        <label>
          <input autocomplete="off" formControlName="note" matInput placeholder="Note">
        </label>
        <mat-error *ngIf="form.controls.note.hasError('required')">required</mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="mat-dialog-actions-end">
  <button (click)="close()" class="mat-raised-button" type="button">Close</button>
  <button (click)="save()" [disabled]="working" class="mat-raised-button mat-primary">
    <span>Add</span>
  </button>
</mat-dialog-actions>