<h2 mat-dialog-title>Edit Password</h2>
<app-alert *ngIf="error != null" [value]="error"></app-alert>
<mat-dialog-content>
  <form [formGroup]="form">
    <div fxLayout="row">
      <mat-form-field fxFlex="1 1 100%">
        <label>
          <input autocomplete="off" formControlName="password" matInput placeholder="Password">
        </label>
        <mat-error *ngIf="form.controls.password.hasError('required')">required</mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="mat-dialog-actions-end">
  <button (click)="close()" class="mat-raised-button" type="button">Close</button>
  <button (click)="save()" [disabled]="working" class="mat-raised-button mat-primary">
    <span>Save</span>
  </button>
</mat-dialog-actions>