.layout {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-sidebar {
  flex: 1;
}

.app-sidebar .app-is-mobile {
  flex: 1 0 auto;
}

.app-sidebar .app-is-mobile {
  margin-top: 56px;
}

.app-sidebar-nav {
  width: 260px;
}
